/* Styles go here */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(116.82deg, #151515 0%, #181818 100%);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}